<section class="form-submit tabs">
  <div class="container">
    <h3 class="form-submit__title">Выберите ваш статус:</h3>

    <div class="form-submit__wrapper">
      <div class="form-submit__btns">
        <button class="form-submit__btn btn tabs-btn active" type="button">
          ЮРИДИЧЕСВОЕ ЛИЦО
        </button>
        <button class="form-submit__btn btn tabs-btn" type="button">ИП</button>
        <button class="form-submit__btn btn tabs-btn" type="button">
          ФИЗИЧЕСКОЕ ЛИЦО
        </button>
      </div>
      <div class="form-submit__content tabs-content active">
        <div class="form-submit__inner">
          <div class="form-submit__left">
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Ваш ID в Telegram"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="ФИО директора (полностью)"
              />
            </label>
            <div class="form-submit__groups">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="ИНН"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="ОГРН"
                />
              </label>
            </div>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="ОГРН"
              />
            </label>

            <div class="form-submit__block">
              <h3 class="form-submit__title">Наименование:</h3>
              <div class="form-submit__groups">
                <label class="form-submit__group">
                  <input
                    class="form-submit__input"
                    type="text"
                    placeholder="Полное"
                  />
                </label>
                <label class="form-submit__group">
                  <input
                    class="form-submit__input"
                    type="text"
                    placeholder="Сокращенное"
                  />
                </label>
              </div>
            </div>
          </div>
          <div class="form-submit__right">
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Дата регистрации"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Юридический адрес"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Физический адрес"
              />
            </label>
            <div class="form-submit__groups">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="E-mail"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="Телефон"
                />
              </label>
            </div>

            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" required checked />
              <span class="checkbox__box"></span>
              <span class="checkbox__text">
                Даю согласие на обработку персональных данных.
                <a href="#">С правилами ознакомился</a>
              </span>
            </label>

            <button class="form-submit__accept btn" type="submit">
              АКЦЕПТОВАТЬ ОФЕРТУ
            </button>
          </div>
        </div>
      </div>
      <div class="form-submit__content tabs-content">
        <div class="form-submit__inner">
          <div class="form-submit__left">
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Ваш ID в Telegram"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="ФИО директора (полностью)"
              />
            </label>
            <div class="form-submit__groups">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="ИНН"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="ОГРН"
                />
              </label>
            </div>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="ОГРН"
              />
            </label>

            <div class="form-submit__block">
              <h3 class="form-submit__title">Наименование:</h3>
              <div class="form-submit__groups">
                <label class="form-submit__group">
                  <input
                    class="form-submit__input"
                    type="text"
                    placeholder="Полное"
                  />
                </label>
                <label class="form-submit__group">
                  <input
                    class="form-submit__input"
                    type="text"
                    placeholder="Сокращенное"
                  />
                </label>
              </div>
            </div>
          </div>
          <div class="form-submit__right">
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Дата регистрации"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Юридический адрес"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Физический адрес"
              />
            </label>
            <div class="form-submit__groups">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="E-mail"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="Телефон"
                />
              </label>
            </div>

            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" required checked />
              <span class="checkbox__box"></span>
              <span class="checkbox__text">
                Даю согласие на обработку персональных данных.
                <a href="#">С правилами ознакомился</a>
              </span>
            </label>

            <button class="form-submit__accept btn" type="submit">
              АКЦЕПТОВАТЬ ОФЕРТУ
            </button>
          </div>
        </div>
      </div>
      <div class="form-submit__content tabs-content">
        <div class="form-submit__inner">
          <div class="form-submit__left">
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Ваш ID в Telegram"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="ФИО директора (полностью)"
              />
            </label>
            <div class="form-submit__groups">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="ИНН"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="ОГРН"
                />
              </label>
            </div>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="ОГРН"
              />
            </label>

            <div class="form-submit__block">
              <h3 class="form-submit__title">Наименование:</h3>
              <div class="form-submit__groups">
                <label class="form-submit__group">
                  <input
                    class="form-submit__input"
                    type="text"
                    placeholder="Полное"
                  />
                </label>
                <label class="form-submit__group">
                  <input
                    class="form-submit__input"
                    type="text"
                    placeholder="Сокращенное"
                  />
                </label>
              </div>
            </div>
          </div>
          <div class="form-submit__right">
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Дата регистрации"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Юридический адрес"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Физический адрес"
              />
            </label>
            <div class="form-submit__groups">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="E-mail"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="Телефон"
                />
              </label>
            </div>

            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" required checked />
              <span class="checkbox__box"></span>
              <span class="checkbox__text">
                Даю согласие на обработку персональных данных.
                <a href="#">С правилами ознакомился</a>
              </span>
            </label>

            <button class="form-submit__accept btn" type="submit">
              АКЦЕПТОВАТЬ ОФЕРТУ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
