<section class="adv">
  <div class="container">
    <h2 class="adv__title">
      С помощью <img class="icon" src="img/logo.png" alt="logo" /> вы сможете:
    </h2>

    <ul class="adv__list">
      <li class="adv-item adv-item--applications">
        <h3 class="adv-item__title">Передавать свои заявки</h3>
        <p class="adv-item__text">
          в работу сервису
          <img class="icon" src="img/logo.png" alt="logo" /> и на следующий
          день, после выдачи гарантии или кредита, получать вознаграждение по
          официальному договору
        </p>
      </li>
      <li class="adv-item adv-item--consult">
        <h3 class="adv-item__title">Консультироваться</h3>
        <p class="adv-item__text">
          у практикующих тендерных сециалистов и зарабатывать на консультациях,
          если вы знаете как помочь своему коллеге в его вопросе
        </p>
      </li>
      <li class="adv-item adv-item--be-confident">
        <h3 class="adv-item__title">Быть уверенными</h3>
        <p class="adv-item__text">
          что сотрудничество с
          <img class="icon" src="img/logo.png" alt="logo" /> - абсолютно
          конфиденциально
        </p>
      </li>
    </ul>
  </div>
</section>
