<section class="contract">
  <div class="container">
    <h1 class="contract__title">Заключить договор</h1>
    <div class="contract__wrapper">
      <div class="contract__text">
        <p>
          В этом разделе вы можете ознакомиться со всеми документами,
          сопровождающими процесс нашего взаимодействия. Все сделки проводятся
          официально, с оплатой налогов и социальных платежей.
        </p>
        <p>
          Передавать заявки на рассмотрение можно уже сейчас, без заключения
          договора. Однако, как только вашему клиенту будет выпущена гарантия,
          для получения вознаграждения, вам нужно будет акцептовать оферту.
        </p>
        <p>
          Юридическим лицам и ИП оплата производится на расчетный счет.
          Физические лица получают вознаграждение на счет банковской карты.
        </p>
      </div>
      <div class="contract__right contract-docs">
        <span class="contract-docs__name">
          Документы <img class="icon" src="img/logo.png" alt="logo" />
        </span>

        <ul class="contract-docs__list">
          <li class="contract-docs__item">
            <a href="#" target="_blank">Правила Сервиса</a>
          </li>
          <li class="contract-docs__item">
            <a href="#" target="_blank">
              Политика в отношении обработки персональных данных
            </a>
          </li>
          <li class="contract-docs__item">
            <a href="#" target="_blank">Тарифы по продукту</a>
          </li>
          <li class="contract-docs__item">
            <a href="#" target="_blank">
              Условия вознаграждения Банков-партнеров
            </a>
          </li>
          <li class="contract-docs__item">
            <a href="#" target="_blank">Карточка компании</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
