<footer class="footer" style="background-image: url('img/footer-bg.png')">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col">
          <a class="footer__logo logo" href="#">
            <img src="img/logo.png" alt="logo" />
          </a>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="" class="footer__link">ИНН 501210244249</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="tel:+7 499 719-39-25">
                +7 499 719-39-25
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="mailto:info@Advantage24.ru">
                info@Advantage24.ru
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Адрес</span>
          <address class="footer__address">
            <p>Москва-Сити, Пресненская</p>
            <p>набережная 12, 30 этаж</p>
            <p>Б34, помещение 7</p>
          </address>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__icon"></div>

        <div class="footer__copy">
          <p>2017 - 2022</p>
          <p>©All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
