<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">
          Лучший сервис для <br />
          тендерных специалистов!
        </h1>

        <p class="hero__text">
          <span class="icon-logo">
            <img src="img/logo.png" alt="" />
          </span>
          - это сервис для заработка на банковских гарантиях и кредитах, который
          обеспечит оперативное сопровождение ваших заявок и максимальный доход
          от сделки для вас!
        </p>

        <a class="hero__btn btn" href="#calc">Рассчитать мой доход</a>
      </div>

      <div
        class="hero__right"
        style="background-image: url('img/hero-bg-right.png')"
      ></div>
    </div>
  </div>

  <a class="hero__chevron" href="#calc">
    <svg>
      <use xlink:href="img/sprite.svg#chevron"></use>
    </svg>
  </a>
</section>
