<section class="steps">
  <div class="container">
    <div class="step-item">
      <div class="step-item__wrapper">
        <img class="step-item__img" src="img/steps/1.png" alt="Шаг 1" />
        <div class="step-item__right">
          <h2 class="step-item__title">Шаг №1</h2>
          <h3 class="step-item__name">Подключитесь к Телеграмм Боту</h3>
          <div class="step-item__text">
            <p>
              Это займет не более 1 минуты. Найдите в мессенджере Телеграмм
              нашего Бота:
            </p>
            <div>
              <p>
                — по линку:
                <a href="https://telegram.me/Limonbot_official" target="_blank">
                  @Limonbot_official
                </a>
                ,
              </p>
              <p>
                — либо пройдите по ссылке:
                <a
                  class="d-block"
                  href="https://telegram.me/Limonbot_official"
                  target="_blank"
                >
                  https://telegram.me/Limonbot_official
                </a>
              </p>
            </div>
            <p>
              Подключение к Телеграмм Боту необходимо по двум причинам: <br />
              Во-первых, работать через мессенджер — это супер мега удобно
            </p>
            <p>
              Во-вторых, одним из этапов вашей идентификации, является
              предоставление уникального ID в Телеграмм.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="step-item">
      <div class="step-item__wrapper">
        <img class="step-item__img" src="img/steps/2.png" alt="Шаг 1" />
        <div class="step-item__right">
          <h2 class="step-item__title">Шаг №2</h2>
          <h3 class="step-item__name">Заключите договор с нашим сервисом</h3>
          <div class="step-item__text">
            <p>
              Перейдите в раздел <b>«Заключить договор»</b>, заполните форму и
              акцептуйте Оферту.
            </p>
            <p>
              Вы можете акцептовать Оферту в любой момент, когда вам будет
              удобно, например, вместе с первой сделкой.
            </p>

            <p>
              Весь документооборот – в электронном виде, все отчетные формы
              готовим мы и отправляем вам на почту.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="step-item">
      <div class="step-item__wrapper">
        <img class="step-item__img" src="img/steps/3.png" alt="Шаг 1" />
        <div class="step-item__right">
          <h2 class="step-item__title">Шаг №3</h2>
          <h3 class="step-item__name">
            Передавайте клиентов и получайте доход
          </h3>
          <div class="step-item__text">
            <p>
              Мы позаботились о том, чтобы упростить для вас процесс получения
              дохода. Вы можете передавать заявки на гарантию или кредит не
              только после получения протокола подведения итогов, но и заранее,
              ещё до торговой процедуры:
            </p>
            <div>
              <p>→ через нашего Телеграм бота</p>
              <p>→ либо прямо в чате с вашим личном менеджером в Телеграмм</p>
            </div>
            <p>
              Если в настоящее время заявок нет, зарабатывайте на предоставлении
              консультаций по вопросам, которые регулярно появляются в
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
